@model  Shifter.Web.ViewModels.Account.ResetPasswordResultViewModel

@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>@Model.Heading</h2>
    <p>
        @Model.Message
    </p>
    @Html.ActionLink("Return to Login", "Login", "Account")
</div>
