<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" requirePermission="false"/>
  </configSections>

  <appSettings>
    <add key="MessageQueueName" value=".\private$\pubsub.test"/>
    <add key="FromEmailAddress" value="support@myshifter.co.za"/>
    <add key="FeedbackToEmailAddress" value="support@myshifter.co.za"/>
    <!--<add key="WaiterAppUrl" value="http://waiters.myshifter.co.za"/>-->
    <add key="WaiterAppUrl" value="http://localhost:22586/"/>
    <add key="ManagerAppUrl" value="http://localhost:22616/"/>
  </appSettings>

  <connectionStrings>
    <add name="ShifterConnection" connectionString="Data Source=.;Initial Catalog=Shifter;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
    <!--<add name="ShifterConnection" connectionString="data source=winsqls02.cpt.wa.co.za;initial catalog=Shifter;User ID=shifterAdmin;Password=shift_Support01;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>

  <!-- Spring -->
  <spring>
    <context>
      <resource uri="~/Configs/Spring.Context.xml" />
    </context>
  </spring>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

  <log4net>
    <root>
      <level value="WARN"/>
      <appender-ref ref="LogFileAppender" />
    </root>
    <logger name="ServiceLog" additivity="false">
      <level value="WARN"/>
      <appender-ref ref="LogFileAppender"/>
    </logger>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender" >
      <file value="c:\logs\ServiceLog.txt"/>
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level - %message %exception %newline%newline" />
      </layout>
    </appender>
  </log4net>
  
</configuration>
