@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<style>
    .paddingTop {
        padding-top: 20px !important    
    }
</style>
<div class="row-fluid">
    <p class="paddingTop">Oops... something went wrong!</p>
</div>
